# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore temporary and log files
*.tmp
*.log
*.swp
*.bak

# Ignore DVC cache and metadata
.dvc/
.dvcignore

# Ignore processed data and model outputs
data/processed/
models/best_model/

# Ignore MinIO secrets and environment files
*.env
secrets/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Docker build outputs
*.tar
*.img
*.iso

# Ignore Kubernetes configuration files (if not needed)
*.kubeconfig
